<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @Html.ActionLink("Insta crafter", "Index", "Home", null, new {@class = "navbar-brand"})
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @Html.ActionLink("Crafters log", "Index", "Home", null, new {@class = "nav-item nav-link"})
            @Html.ActionLink("Craft jobs", "Jobs", "Home", null, new {@class = "nav-item nav-link"})
            @Html.ActionLink("Posts", "Posts", "Posts", null, new {@class = "nav-item nav-link"})
        </div>
    </div>
</nav>

<div class="container" style="padding-top: 2%">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Insta Crafter</p>
    </footer>
</div>
@Scripts.Render("~/js")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>